{% extends 'base.html.twig' %}

{% block title %}Une erreur est survenue{% endblock %}

{% block body %}
<h1>Une erreur est survenue</h1>
<a href="{{ path('app_login') }}">Se connecter</a>
{% endblock %}