{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
<h1>403 Ressource Introuvable</h1>
<p>Impossible de trouver ce que vous cherchez la ressource n'existe pas ou n'est pas à cet endroit</p>
<a href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
