{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
<h1>403 - Accès refusé</h1>
<p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
<a href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
